In [1]:
"""import random
import requests
from bs4 import BeautifulSoup
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
import pandas as pd

def aaa(i):
    browser = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
    delay = 10 # seconds
    browser.get(f'https://classic.warcraftlogs.com/guild/attendance/481374#page={i}')
    WebDriverWait(browser, delay).until(EC.presence_of_element_located((By.TAG_NAME, 'table')))
    content = browser.find_element_by_id("attendance-table_wrapper").get_attribute('innerHTML')
    print("Page is ready!")
    df_ = pd.read_html(content)[0].set_index("Name")
    df_.columns = [col + f"_{i}" for col in df_.columns]
    browser.close()
    return df_

df = pd.DataFrame()

for i in range(1,24):
    print(i)
    df = pd.merge(aaa(i), df, how="outer", left_index=True, right_index=True)
    time.sleep(random.randint(1,5))
    
df = df.drop([col for col in df.columns if "Att" in col], axis = 1).fillna(0).to_csv("attendance1.csv")
df.head()"""

'import random\nimport requests\nfrom bs4 import BeautifulSoup\nimport time\nfrom selenium.webdriver.support.ui import WebDriverWait\nfrom selenium.webdriver.support import expected_conditions as EC\nfrom selenium.webdriver.common.by import By\nfrom selenium.common.exceptions import TimeoutException\nimport pandas as pd\n\ndef aaa(i):\n    browser = webdriver.Chrome(\'chromedriver\',chrome_options=chrome_options)\n    delay = 10 # seconds\n    browser.get(f\'https://classic.warcraftlogs.com/guild/attendance/481374#page={i}\')\n    WebDriverWait(browser, delay).until(EC.presence_of_element_located((By.TAG_NAME, \'table\')))\n    content = browser.find_element_by_id("attendance-table_wrapper").get_attribute(\'innerHTML\')\n    print("Page is ready!")\n    df_ = pd.read_html(content)[0].set_index("Name")\n    df_.columns = [col + f"_{i}" for col in df_.columns]\n    browser.close()\n    return df_\n\ndf = pd.DataFrame()\n\nfor i in range(1,24):\n    print(i)\n    df = pd.merge(aaa(i), df, how="outer", left_index=True, right_index=True)\n    time.sleep(random.randint(1,5))\n    \ndf = df.drop([col for col in df.columns if "Att" in col], axis = 1).fillna(0).to_csv("attendance1.csv")\ndf.head()'

In [2]:
import pandas as pd

df = pd.read_csv("attendance1.csv", index_col=0)
df.head()

,Ony21/11_23,Mol21/11_23,Ony19/11_23,Mol14/11_23,Ony12/11_23,Mol7/11_23,Ony5/11_23,Mol31/10_23,Ony31/10_23,Ony29/10_23,...,SSC23/12.1_1,Gru16/12_1,SSC16/12_1,SSC16/12.1_1,Gru14/12_1,SSC14/12_1,SSC9/12_1,SSC9/12.1_1,SSC2/12_1,SSC2/12.1_1
Name,,,,,,,,,,,,,,,,,,,,,
Aaemon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Aboreal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
Adillis,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Aerynsun,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Afkfrost,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
import numpy as np

for i in range(4):
    for col in df.columns:
        if col.split("_")[0][-2:] == f".{i}":
            df[col.split("_")[0][:-2]+"_"+col.split("_")[1]] = np.logical_or(df[col.split("_")[0][:-2]+"_"+col.split("_")[1]].values, df[col].values).astype(float)
            df = df.drop(col,axis=1)
df.head()

,Ony21/11_23,Mol21/11_23,Ony19/11_23,Mol14/11_23,Ony12/11_23,Mol7/11_23,Ony5/11_23,Mol31/10_23,Ony31/10_23,Ony29/10_23,...,SSC6/1_1,Gru4/1_1,SSC4/1_1,SSC23/12_1,Gru16/12_1,SSC16/12_1,Gru14/12_1,SSC14/12_1,SSC9/12_1,SSC2/12_1
Name,,,,,,,,,,,,,,,,,,,,,
Aaemon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Aboreal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
Adillis,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Aerynsun,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Afkfrost,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
def guess_year(page_number, month):
    page_number = int(page_number)
    month = int(month)
    if page_number == 11:
        if int(month) > 10:
            year = 2020
        else:
            year = 2021
    elif page_number > 21:
        if int(month) > 6:
            year = 2019
        else:
            year=2020
    elif page_number > 11:
        year = 2020
    elif page_number < 5 and int(month) == 1:
        year = 2022
    else:
        year = 2021
    return year

newcols = list()
for col in df.columns:
    newcols.append(col.split("_")[0][3:]+"/"+str(guess_year(col.split("_")[-1], col.split("_")[0].split("/")[-1])))

print(len(newcols))
newcols

322

['21/11/2019',
 '21/11/2019',
 '19/11/2019',
 '14/11/2019',
 '12/11/2019',
 '7/11/2019',
 '5/11/2019',
 '31/10/2019',
 '31/10/2019',
 '29/10/2019',
 '24/10/2019',
 '22/10/2019',
 '17/10/2019',
 '10/10/2019',
 '23/1/2020',
 '21/1/2020',
 '16/1/2020',
 '14/1/2020',
 '9/1/2020',
 '7/1/2020',
 '2/1/2020',
 '19/12/2019',
 '17/12/2019',
 '12/12/2019',
 '10/12/2019',
 '5/12/2019',
 '5/12/2019',
 '3/12/2019',
 '28/11/2019',
 '26/11/2019',
 '10/3/2020',
 '10/3/2020',
 '5/3/2020',
 '5/3/2020',
 '3/3/2020',
 '3/3/2020',
 '27/2/2020',
 '25/2/2020',
 '20/2/2020',
 '18/2/2020',
 '13/2/2020',
 '11/2/2020',
 '6/2/2020',
 '4/2/2020',
 '30/1/2020',
 '28/1/2020',
 '15/4/2020',
 '14/4/2020',
 '11/4/2020',
 '9/4/2020',
 '7/4/2020',
 '4/4/2020',
 '2/4/2020',
 '31/3/2020',
 '28/3/2020',
 '26/3/2020',
 '24/3/2020',
 '20/3/2020',
 '19/3/2020',
 '19/3/2020',
 '17/3/2020',
 '12/3/2020',
 '1/5/2020',
 '30/4/2020',
 '30/4/2020',
 '28/4/2020',
 '28/4/2020',
 '27/4/2020',
 '26/4/2020',
 '25/4/2020',
 '23/4/2020',
 '21/4/2020',
 '21/4/2020',
 '21/4/2020',
 '19/4/2020',
 '16/4/2020',
 '16/4/2020',
 '19/5/2020',
 '18/5/2020',
 '16/5/2020',
 '16/5/2020',
 '14/5/2020',
 '14/5/2020',
 '14/5/2020',
 '13/5/2020',
 '10/5/2020',
 '9/5/2020',
 '7/5/2020',
 '7/5/2020',
 '5/5/2020',
 '5/5/2020',
 '2/5/2020',
 '1/5/2020',
 '16/6/2020',
 '12/6/2020',
 '11/6/2020',
 '11/6/2020',
 '9/6/2020',
 '9/6/2020',
 '4/6/2020',
 '4/6/2020',
 '28/5/2020',
 '28/5/2020',
 '26/5/2020',
 '26/5/2020',
 '22/5/2020',
 '21/5/2020',
 '19/5/2020',
 '19/5/2020',
 '16/7/2020',
 '14/7/2020',
 '14/7/2020',
 '9/7/2020',
 '9/7/2020',
 '7/7/2020',
 '7/7/2020',
 '2/7/2020',
 '2/7/2020',
 '30/6/2020',
 '30/6/2020',
 '25/6/2020',
 '25/6/2020',
 '18/6/2020',
 '18/6/2020',
 '16/6/2020',
 '1/9/2020',
 '27/8/2020',
 '25/8/2020',
 '25/8/2020',
 '20/8/2020',
 '18/8/2020',
 '13/8/2020',
 '16/8/2020',
 '17/8/2020',
 '13/8/2020',
 '30/7/2020',
 '23/7/2020',
 '23/7/2020',
 '23/7/2020',
 '16/7/2020',
 '29/9/2020',
 '29/9/2020',
 '24/9/2020',
 '22/9/2020',
 '22/9/2020',
 '17/9/2020',
 '17/9/2020',
 '15/9/2020',
 '15/9/2020',
 '10/9/2020',
 '10/9/2020',
 '8/9/2020',
 '27/8/2020',
 '3/9/2020',
 '3/9/2020',
 '1/9/2020',
 '12/11/2020',
 '12/11/2020',
 '12/11/2020',
 '5/11/2020',
 '5/11/2020',
 '29/10/2020',
 '29/10/2020',
 '22/10/2020',
 '22/10/2020',
 '20/10/2020',
 '20/10/2020',
 '15/10/2020',
 '15/10/2020',
 '1/10/2020',
 '1/10/2020',
 '7/1/2020',
 '5/1/2020',
 '29/12/2020',
 '22/12/2020',
 '22/12/2020',
 '17/12/2020',
 '15/12/2020',
 '15/12/2020',
 '10/12/2020',
 '8/12/2020',
 '3/12/2020',
 '3/12/2020',
 '26/11/2020',
 '26/11/2020',
 '19/11/2020',
 '19/11/2020',
 '18/2/2021',
 '11/2/2021',
 '11/2/2021',
 '9/2/2021',
 '9/2/2021',
 '4/2/2021',
 '28/1/2021',
 '28/1/2021',
 '26/1/2021',
 '26/1/2021',
 '21/1/2021',
 '19/1/2021',
 '19/1/2021',
 '14/1/2021',
 '12/1/2021',
 '12/1/2021',
 '6/4/2021',
 '1/4/2021',
 '1/4/2021',
 '30/3/2021',
 '25/3/2021',
 '23/3/2021',
 '23/3/2021',
 '18/3/2021',
 '11/3/2021',
 '11/3/2021',
 '9/3/2021',
 '4/3/2021',
 '2/3/2021',
 '2/3/2021',
 '25/2/2021',
 '18/2/2021',
 '7/6/2021',
 '27/5/2021',
 '27/5/2021',
 '25/5/2021',
 '24/5/2021',
 '13/5/2021',
 '6/5/2021',
 '6/5/2021',
 '29/4/2021',
 '29/4/2021',
 '22/4/2021',
 '22/4/2021',
 '15/4/2021',
 '15/4/2021',
 '8/4/2021',
 '8/4/2021',
 '1/7/2021',
 '29/6/2021',
 '24/6/2021',
 '24/6/2021',
 '22/6/2021',
 '17/6/2021',
 '15/6/2021',
 '10/6/2021',
 '8/6/2021',
 '8/6/2021',
 '6/6/2021',
 '22/7/2021',
 '22/7/2021',
 '20/7/2021',
 '20/7/2021',
 '15/7/2021',
 '15/7/2021',
 '8/7/2021',
 '8/7/2021',
 '1/7/2021',
 '1/7/2021',
 '12/8/2021',
 '5/8/2021',
 '5/8/2021',
 '3/8/2021',
 '3/8/2021',
 '27/7/2021',
 '29/7/2021',
 '29/7/2021',
 '27/7/2021',
 '22/7/2021',
 '2/9/2021',
 '31/8/2021',
 '31/8/2021',
 '26/8/2021',
 '26/8/2021',
 '24/8/2021',
 '19/8/2021',
 '19/8/2021',
 '17/8/2021',
 '12/8/2021',
 '23/9/2021',
 '23/9/2021',
 '21/9/2021',
 '16/9/2021',
 '16/9/2021',
 '15/9/2021',
 '14/9/2021',
 '14/9/2021',
 '9/9/2021',
 '9/9/2021',
 '2/9/2021',
 '2/9/2021',
 '2/11/2021',
 '28/10/2021',
 '26/10/2021',
 '21/10/2021',
 '19/10/2021',
 '14/10/2021',
 '12/10/2021',
 '8/10/2021',
 '7/10/2021',
 '5/10/2021',
 '30/9/2021',
 '30/9/2021',
 '28/9/2021',
 '30/11/2021',
 '30/11/2021',
 '25/11/2021',
 '18/11/2021',
 '16/11/2021',
 '16/11/2021',
 '11/11/2021',
 '9/11/2021',
 '8/11/2021',
 '4/11/2021',
 '2/11/2021',
 '6/1/2022',
 '4/1/2022',
 '4/1/2022',
 '23/12/2021',
 '16/12/2021',
 '16/12/2021',
 '14/12/2021',
 '14/12/2021',
 '9/12/2021',
 '2/12/2021']

In [5]:
alts = {"Caracal":"Aboreal", "Arcanya":"Ignia", "Gizsel":"Tripz", "AssassÃ­n":"GunslÃ­nger", "Ayena":"Venia", "Bhangster":"Bhang", "Bigtidywaifu":"Nononou", 
"Billio":"Bh", "Blitz":"Unit", "Bonktonk":"Stingeh", "Castadrood":"Castanaea", "Castahunt":"Castanaea", "Castawar":"Castanaea", "Clio":"Kera", 
"Crispani":"Crisp", "Cutefrog":"Hotporridge", "Deepspank":"Deepsfordays", "Dinkledork":"Lilaith", "East":"Unit", "Erifornia":"Rhory", "Eveleate":"Tripz",
"Frostinips":"Lilaith", "Gdin":"Len", "Gelwynn":"Adam", "Veroer":"Adam", "Jetrio":"Adam", "Ggqqbb":"Mpeiouioumpe", "Hallu":"Kera", "Hitmachine":"Camthalion",
"Holtexd":"Holtessa", "Holymys":"Suzanitta", "Izanamia":"Izani", "Izlock":"Izani", "Ayliena":"Cadusa", "Ayliene":"Cadusa", "Jeznah":"Jezn", 
"Jojodruid":"Jojosgerrit", "Jokecoke":"Zinnea", "Lefk":"Camthalion", "Lenrog":"Len", "Levs":"Mlevy", "Levvy":"Mlevy", "Linaomina":"Berri",  
"Luminary":"Nononou", "Madelo":"Elogis", "Magepwnlol": "Kasaki", "Marvhunt":"Marvino", "Marvpala":"Marvino", "Marvtank":"Marvino", "Mattsmage":"Mattstank",
"Menodora":"Lilaith", "Melancholia":"Arose", "Melanthios":"Lilaith", "Mezzeh":"Stingeh", "Mionashamy":"Miona", "Munara":"Venia", "Najie":"Najara", 
"Nelreth":"Nely", "Nelyareth":"Nely", "Nmz":"Nemy", "Oldguard":"Trevelyan", "Purosangre":"Veltliner", "Pwnydruid":"Kasaki",
"Rinpula":"Skruideli", "Sebhunt":"Palagus", "Specialwater":"Izani", "Stabbigail":"Smashley", "Sumu":"Esterih", "Thangrave":"Brightmane", "Tommieb":"Tommies",
"Tonkbonk":"Stingeh", "Trevstab":"Trevwar", "Adillis":"Brightmane", "Alisaa":"Esterih", "Axos":"Mpeiouioumpe", "Duska":"Cadusa", "Hachi":"Izani", 
"Maggdin":"Len", "Yemmi":"Venia", "Zaphyr":"Ferina", "Zinea":"Zinnea", "Zynea":"Zinnea", "ÃŸeastmode":"ÃŸeast", "ÃŸowjob":"ÃŸeast", "ÃŸeyond":"Nononou",
"Pincher":"Moira", "Jorunn":"Ignia", "Anaxie":"Venia", "Schwiftty":"Hanbozo", "Handiman":"Aboreal"
}

df = df.reset_index()
df["Name"] = df["Name"].replace(alts)
df = df.groupby("Name").any().astype(int)
#df = df.set_index("Name")
df.head()

,Ony21/11_23,Mol21/11_23,Ony19/11_23,Mol14/11_23,Ony12/11_23,Mol7/11_23,Ony5/11_23,Mol31/10_23,Ony31/10_23,Ony29/10_23,...,SSC6/1_1,Gru4/1_1,SSC4/1_1,SSC23/12_1,Gru16/12_1,SSC16/12_1,Gru14/12_1,SSC14/12_1,SSC9/12_1,SSC2/12_1
Name,,,,,,,,,,,,,,,,,,,,,
Aaemon,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Aboreal,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,1,0,1,0
Adam,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,1,1,1,1,1,1
Aerynsun,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
Afkfrost,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df.columns = pd.to_datetime(newcols, dayfirst=True)
df = df.groupby(level=0,axis=1).any().astype(int)
df = df[sorted(df.columns)]
df = df.resample('W', axis=1).sum()
df[df>0]=1
df = df[df.sum(axis=1)>5].cumsum(axis=1)
for i, (_, row) in enumerate(df.iterrows()):
    df.iloc[i,row.reset_index(drop=True).idxmax()+1:] = 0
df = df.resample('W', axis=1).sum()
print(df.shape)
df.head()

(99, 118)

,2019-10-13,2019-10-20,2019-10-27,2019-11-03,2019-11-10,2019-11-17,2019-11-24,2019-12-01,2019-12-08,2019-12-15,...,2021-11-07,2021-11-14,2021-11-21,2021-11-28,2021-12-05,2021-12-12,2021-12-19,2021-12-26,2022-01-02,2022-01-09
Name,,,,,,,,,,,,,,,,,,,,,
Aboreal,0,0,0,0,0,0,0,0,0,0,...,36,37,38,39,40,41,42,43,43,44
Adam,0,0,0,0,0,0,0,0,0,0,...,22,23,24,25,26,27,28,28,28,29
Aerynsun,0,1,2,3,4,5,6,7,8,9,...,0,0,0,0,0,0,0,0,0,0
Arose,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Basicbro,1,2,3,4,5,6,7,8,9,10,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df["Class"] = ["hunter","priest","hunter","warlock","warrior","priest",
"mage","paladin","paladin","mage","mage","rogue","mage","warrior",
"warrior","mage","paladin","hunter","paladin","warrior","priest",
"druid","warlock","hunter","warrior","paladin","rogue","mage","priest",
"rogue","warrior","warlock","mage","mage","warrior","hunter","warrior",
"mage","priest","hunter","hunter","mage","priest","mage","warrior",
"rogue","priest","hunter","hunter","priest","mage","druid","priest",
"hunter","warlock","priest","rogue","hunter","priest","priest",
"warrior","warlock","paladin","priest","warrior","hunter","paladin",
"rogue","warrior","warrior","mage","rogue","warrior",
"paladin","rogue","hunter","rogue","warrior","priest","warrior",
"priest","warlock","mage","rogue","warrior","mage","rogue","warrior",
"druid","druid","priest","warrior","warlock","rogue","priest",
"warrior","hunter","rogue","warrior"]

In [8]:
df["Class"].unique()

array(['hunter', 'priest', 'warlock', 'warrior', 'mage', 'paladin',
       'rogue', 'druid'], dtype=object)

In [9]:
df["Image"] = df["Class"].replace({"druid":"https://static.wikia.nocookie.net/wowpedia/images/6/66/Charactercreate-class_druid.png/revision/latest/scale-to-width-down/130?cb=20200517185946",
"hunter":"https://static.wikia.nocookie.net/wowpedia/images/e/e8/Charactercreate-class_hunter.png/revision/latest/scale-to-width-down/130?cb=20200517185951",
"mage":"https://static.wikia.nocookie.net/wowpedia/images/c/cc/Charactercreate-class_mage.png/revision/latest/scale-to-width-down/130?cb=20200517185956",
"paladin":"https://static.wikia.nocookie.net/wowpedia/images/f/fa/Charactercreate-class_paladin.png/revision/latest/scale-to-width-down/130?cb=20200517190005",
"priest":"https://static.wikia.nocookie.net/wowpedia/images/7/7e/Charactercreate-class_priest.png/revision/latest/scale-to-width-down/130?cb=20200517190009",
"rogue":"https://static.wikia.nocookie.net/wowpedia/images/6/66/Charactercreate-class_rogue.png/revision/latest/scale-to-width-down/130?cb=20200517190014",
"warlock":"https://static.wikia.nocookie.net/wowpedia/images/4/4f/Charactercreate-class_warlock.png/revision/latest/scale-to-width-down/130?cb=20200517190024",
"warrior":"https://static.wikia.nocookie.net/wowpedia/images/0/0f/Charactercreate-class_warrior.png/revision/latest/scale-to-width-down/130?cb=20200517190030"})

df["Image"] = df["Image"].apply(lambda x: x.split("/revision")[0])

In [10]:
df.to_csv("better_attendance.csv")

In [17]:
attendance = dict()
for name, row in df.drop(["Class","Image"],axis=1).iterrows():
    attendance[name] = max(row)/sum(row!=0)

df_attendance = pd.Series(attendance).to_frame()
df_attendance.rename({0:"Attendance score"}).to_csv("attendance_pct.csv")