# MUNI2014

In [1]:
import pandas as pd

#Cette boucle nettoie ce dataset absolument immonde et prend 10 minutes
#for l in open("data/muni-2014-resultats-com-1000-et-plus-t1.txt","r",encoding="latin1").readlines()[1:]:
#    l = pd.Series(l.strip().split(";"))
#    for i in range(17,len(l),11):
#        df = df.append(pd.concat([l[:17],l[i:i+11]]).reset_index(drop=True).T, ignore_index=True)
#df.to_csv("data_clean/muni2014plusde1000.csv")

df_1000_plus = pd.read_csv("data/muni2014plusde1000.csv",index_col=0)
print(df_1000_plus.columns)
df_1000_plus = df_1000_plus[["Code du département","Inscrits","Abstentions","Votants","Blancs et nuls","Code Nuance","Voix"]].loc[~df_1000_plus["Voix"].isnull(),:]
df_1000_plus.head()

Index(['Date de l'export', 'Code du département', 'Type de scrutin',
       'Libellé du département', 'Code de la commune', 'Libellé de la commune',
       'Inscrits', 'Abstentions', '% Abs/Ins', 'Votants', '% Vot/Ins',
       'Blancs et nuls', '% BlNuls/Ins', '% BlNuls/Vot', 'Exprimés',
       '% Exp/Ins', '% Exp/Vot', 'Code Nuance', 'Sexe', 'Nom', 'Prénom',
       'Liste', 'Sièges / Elu', 'Sièges Secteur', 'Sièges CC', 'Voix',
       '% Voix/Ins', '% Voix/Exp'],
      dtype='object')

,Code du département,Inscrits,Abstentions,Votants,Blancs et nuls,Code Nuance,Voix
0,01,8198,3422,4776,191,LDVG,954.0
1,01,8198,3422,4776,191,LDVG,822.0
2,01,8198,3422,4776,191,LUMP,1383.0
3,01,8198,3422,4776,191,LDVD,1426.0
5,01,1159,497,662,183,LDIV,479.0

In [2]:
df_1000_plus.isna().mean()

Code du département    0.0
Inscrits               0.0
Abstentions            0.0
Votants                0.0
Blancs et nuls         0.0
Code Nuance            0.0
Voix                   0.0
dtype: float64

In [3]:
"""df_1000_moins = pd.read_csv("data/muni-2014-resultats-com-moins-1000-t1.txt",sep=";",encoding="latin1")
print(df_1000_moins.columns)
df_1000_moins = df_1000_moins[["CODDPT","NBRINS","NBRABS","NBRVOT","NBRBLANUL"]]
df_1000_moins["Code Nuance"] = "LA"
df_1000_moins["Voix"] = df_1000_moins["NBRVOT"]
df_1000_moins.columns = ["Code du département","Inscrits","Abstentions","Votants","Blancs et nuls","Code Nuance","Voix"]
df_1000_moins = df_1000_moins.drop_duplicates().reset_index(drop=True)
print(df_1000_moins.shape)
df_1000_moins.tail()"""

'df_1000_moins = pd.read_csv("data/muni-2014-resultats-com-moins-1000-t1.txt",sep=";",encoding="latin1")\nprint(df_1000_moins.columns)\ndf_1000_moins = df_1000_moins[["CODDPT","NBRINS","NBRABS","NBRVOT","NBRBLANUL"]]\ndf_1000_moins["Code Nuance"] = "LA"\ndf_1000_moins["Voix"] = df_1000_moins["NBRVOT"]\ndf_1000_moins.columns = ["Code du département","Inscrits","Abstentions","Votants","Blancs et nuls","Code Nuance","Voix"]\ndf_1000_moins = df_1000_moins.drop_duplicates().reset_index(drop=True)\nprint(df_1000_moins.shape)\ndf_1000_moins.tail()'

In [4]:
df = df_1000_plus#.append(df_1000_moins)
df.head()

,Code du département,Inscrits,Abstentions,Votants,Blancs et nuls,Code Nuance,Voix
0,01,8198,3422,4776,191,LDVG,954.0
1,01,8198,3422,4776,191,LDVG,822.0
2,01,8198,3422,4776,191,LUMP,1383.0
3,01,8198,3422,4776,191,LDVD,1426.0
5,01,1159,497,662,183,LDIV,479.0

In [5]:
df["Code Nuance"] = df["Code Nuance"].str.extract(r"L(.*)")

In [6]:
df["Code du département"] = df["Code du département"].astype(str)
df = df.replace({"ZA": "971", 
                 "ZB": "972", 
                 "ZC": "973", 
                 "ZD": "974", 
                 "ZS": "975", 
                 "ZP": "987", 
                 "ZN": "988", 
                 "ZM": "976", #"2A": 20, "2B": 20,
                 "ZW": "986",
                 "ZX": "978",
                 "ZZ": "99",
                 "1":"01",
                 "2":"02",
                 "3":"03",
                 "4":"04",
                 "5":"05",
                 "6":"06",
                 "7":"07",
                 "8":"08",
                 "9":"09"})
#df["Code du département"] = df["Code du département"].astype(int)
df["Code du département"].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '2A', '2B', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32',
       '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43',
       '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54',
       '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65',
       '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76',
       '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87',
       '88', '89', '90', '91', '92', '93', '94', '95', '971', '972',
       '973', '974', '976', '988', '987', '975'], dtype=object)

In [7]:
grp_partis = {"EG": ['COM', 'EXG','FG','LO','NPA',"EG"], 
              "G":["SOC","DVG","PG", "UG","RDG","VEC", "LFI","FI","RDG","UGE","ECO","GJ","G"] , 
              "C":["MMD","CMD","MDM","UC","UDI","LREM","UCD","UCG","REM","DVC","CEN","NCE","ALLI","C"], 
              "D":["DVD","UD","UMP","LR","DSV","PRV","D"],
              "ED":["EXD","FN","RN","DLF","UXD","ED"] , 
              "A":["REG","AUT","DIV","A"]}
partis = {keyi: value for (value, key) in grp_partis.items() for keyi in key}

df = df.replace(partis)
df["Code Nuance"].value_counts()

D     8082
G     6975
A     4180
EG     875
C      745
ED     606
Name: Code Nuance, dtype: int64

In [8]:
#df = df.groupby(["Code du département","Inscrits","Abstentions","Votants","Blancs et nuls"]).first()
df = df.pivot_table(values="Voix",columns="Code Nuance",index=["Code du département","Inscrits","Abstentions","Votants","Blancs et nuls"], aggfunc="sum", fill_value=0)
df = df.reset_index()
df.columns.name=""
df.head()

,Code du département,Inscrits,Abstentions,Votants,Blancs et nuls,A,C,D,ED,EG,G
0,01,642,261,381,16,197,0,168,0,0,0
1,01,644,300,344,58,0,0,286,0,0,0
2,01,659,262,397,155,0,0,242,0,0,0
3,01,703,305,398,94,0,0,304,0,0,0
4,01,705,267,438,59,0,0,379,0,0,0

In [9]:
df = df.groupby("Code du département").sum()
df.head()

,Inscrits,Abstentions,Votants,Blancs et nuls,A,C,D,ED,EG,G
Code du département,,,,,,,,,,
01,317349,129428,187921,14458,25107,1704,97220,1407,646,47379
02,219407,88790,130617,11708,16806,2206,42548,8648,3461,45240
03,179547,62533,117014,7222,639,900,52233,2172,7299,46549
04,86899,26420,60479,3631,0,1325,25335,4648,3251,22289
05,68468,22737,45731,3094,1358,0,23817,0,2312,15150

In [10]:
df["ABN"] = df["Abstentions"] + df["Blancs et nuls"]
df = df.drop(["Inscrits","Abstentions","Blancs et nuls"], axis=1)
df.head()

                     Votants      A     C      D    ED    EG      G     ABN
Code du département
01                    187921  25107  1704  97220  1407   646  47379  143886
02                    130617  16806  2206  42548  8648  3461  45240  100498
03                    117014    639   900  52233  2172  7299  46549   69755
04                     60479      0  1325  25335  4648  3251  22289   30051
05                     45731   1358     0  23817     0  2312  15150   25831

In [11]:
df.to_csv("data_clean/muni2014clean.csv")

# MUNI2020

In [12]:
import pandas as pd

#Cette boucle nettoie ce dataset absolument immonde et prend 10 minutes
#df = pd.DataFrame()
#for l in open("data/2020-05-18-resultats-communes-de-1000-et-plus.txt","r",encoding="latin1").readlines()[1:]:
#    l = pd.Series(l.strip().split("\t"))
#    for i in range(18,len(l),12):
#        df = df.append(pd.concat([l[:18],l[i:i+12]]).reset_index(drop=True).T, ignore_index=True)
#df.columns = [col for col in open("data/2020-05-18-resultats-communes-de-1000-et-plus.txt","r",encoding="latin1").readlines()[0].split("\t") if col.strip()]
#df.to_csv("data_clean/muni2020plusde1000.csv")

df_1000_plus = pd.read_csv("data/muni2020plusde1000.csv",index_col=0)
print(df_1000_plus.columns)
df_1000_plus = df_1000_plus[["Code du département","Inscrits","Abstentions","Votants","Blancs", "Nuls","Code Nuance","Voix"]].loc[~df_1000_plus["Voix"].isnull(),:]
df_1000_plus.head()

Index(['Code du département', 'Libellé du département', 'Code de la commune',
       'Libellé de la commune', 'Inscrits', 'Abstentions', '% Abs/Ins',
       'Votants', '% Vot/Ins', 'Blancs', '% Blancs/Ins', '% Blancs/Vot',
       'Nuls', '% Nuls/Ins', '% Nuls/Vot', 'Exprimés', '% Exp/Ins',
       '% Exp/Vot', 'N.Pan.', 'Code Nuance', 'Sexe', 'Nom', 'Prénom', 'Liste',
       'Sièges / Elu', 'Sièges Secteur', 'Sièges CC', 'Voix', '% Voix/Ins',
       '% Voix/Exp'],
      dtype='object')

,Code du département,Inscrits,Abstentions,Votants,Blancs,Nuls,Code Nuance,Voix
0,1,8109,5253,2856,32,58,LDVC,1410.0
1,1,8109,5253,2856,32,58,LDVG,607.0
2,1,8109,5253,2856,32,58,LEXG,119.0
3,1,8109,5253,2856,32,58,LDVG,630.0
4,1,1167,812,355,15,25,LNC,315.0

In [13]:
df_1000_plus.isna().mean()

Code du département    0.0
Inscrits               0.0
Abstentions            0.0
Votants                0.0
Blancs                 0.0
Nuls                   0.0
Code Nuance            0.0
Voix                   0.0
dtype: float64

In [14]:
"""import pandas as pd

df_1000_moins = pd.read_csv("data/2020-05-18-resultats-communes-de-moins-de-1000.txt",sep="\n",encoding="latin1")
cols = df_1000_moins.columns[0].split(";")
df_1000_moins = df_1000_moins.iloc[:,0].str.split(";",expand=True)
df_1000_moins.head()

df = df_1000_moins.iloc[:,:30].copy()
for i in range(18,df_1000_moins.shape[1],12):
    df_temp = df_1000_moins.iloc[:,:18].join(df_1000_moins.iloc[:,i:i+12]).dropna(axis=0)
    #display(df_temp)
    df_temp.columns = df.columns
    df = df.append(df_temp, ignore_index=True)
df.columns = cols
df.to_csv("data_clean/muni2020moinsde1000.csv")
df_1000_moins = df[df_1000_plus.columns]
del df, df_temp"""

'import pandas as pd\n\ndf_1000_moins = pd.read_csv("data/2020-05-18-resultats-communes-de-moins-de-1000.txt",sep="\n",encoding="latin1")\ncols = df_1000_moins.columns[0].split(";")\ndf_1000_moins = df_1000_moins.iloc[:,0].str.split(";",expand=True)\ndf_1000_moins.head()\n\ndf = df_1000_moins.iloc[:,:30].copy()\nfor i in range(18,df_1000_moins.shape[1],12):\n    df_temp = df_1000_moins.iloc[:,:18].join(df_1000_moins.iloc[:,i:i+12]).dropna(axis=0)\n    #display(df_temp)\n    df_temp.columns = df.columns\n    df = df.append(df_temp, ignore_index=True)\ndf.columns = cols\ndf.to_csv("data_clean/muni2020moinsde1000.csv")\ndf_1000_moins = df[df_1000_plus.columns]\ndel df, df_temp'

In [15]:
"""df_1000_moins["Code du département"].unique()"""

'df_1000_moins["Code du département"].unique()'

In [16]:
df = df_1000_plus#.append(df_1000_moins)
df.head()

,Code du département,Inscrits,Abstentions,Votants,Blancs,Nuls,Code Nuance,Voix
0,1,8109,5253,2856,32,58,LDVC,1410.0
1,1,8109,5253,2856,32,58,LDVG,607.0
2,1,8109,5253,2856,32,58,LEXG,119.0
3,1,8109,5253,2856,32,58,LDVG,630.0
4,1,1167,812,355,15,25,LNC,315.0

In [17]:
df["Blancs et nuls"] = df["Blancs"]+df["Nuls"]
df.drop(["Blancs","Nuls"],axis=1,inplace=True)

In [18]:
df["Code Nuance"] = df["Code Nuance"].str.extract(r"L(.*)")

In [19]:
df["Code du département"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '2A', '2B', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44',
       '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55',
       '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66',
       '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77',
       '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88',
       '89', '90', '91', '92', '93', '94', '95', 'ZA', 'ZB', 'ZC', 'ZD',
       'ZM', 'ZN', 'ZP', 'ZS'], dtype=object)

In [20]:
df["Code du département"] = df["Code du département"].astype(str)
df = df.replace({"ZA": "971", 
                 "ZB": "972", 
                 "ZC": "973", 
                 "ZD": "974", 
                 "ZS": "975", 
                 "ZP": "987", 
                 "ZN": "988", 
                 "ZM": "976", #"2A": 20, "2B": 20,
                 "ZW": "986",
                 "ZX": "978",
                 "ZZ": "99",
                 "1":"01",
                 "2":"02",
                 "3":"03",
                 "4":"04",
                 "5":"05",
                 "6":"06",
                 "7":"07",
                 "8":"08",
                 "9":"09"})
#df["Code du département"] = df["Code du département"].astype(int)
df["Code du département"].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '2A', '2B', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32',
       '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43',
       '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54',
       '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65',
       '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76',
       '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87',
       '88', '89', '90', '91', '92', '93', '94', '95', '971', '972',
       '973', '974', '976', '988', '987', '975'], dtype=object)

In [21]:
grp_partis = {"EG": ['COM', 'EXG','FG','LO','NPA',"EG"], 
              "G":["SOC","DVG","PG", "UG","RDG","VEC", "LFI","FI","RDG","UGE","ECO","GJ","G"] , 
              "C":["MMD","CMD","MDM","UC","UDI","LREM","UCD","UCG","REM","DVC","CEN","NCE","ALLI","C"], 
              "D":["DVD","UD","UMP","LR","DSV","PRV","D"],
              "ED":["EXD","FN","RN","DLF","UXD","ED"] , 
              "A":["REG","AUT","DIV","A","NC"]}
partis = {keyi: value for (value, key) in grp_partis.items() for keyi in key}

df = df.replace(partis)
df["Code Nuance"].value_counts()

A     12523
G      3123
D      2602
C      1634
EG      449
ED      434
Name: Code Nuance, dtype: int64

In [22]:
#df = df.groupby(["Code du département","Inscrits","Abstentions","Votants","Blancs et nuls"]).first()
df = df.pivot_table(values="Voix",columns="Code Nuance",index=["Code du département","Inscrits","Abstentions","Votants","Blancs et nuls"], aggfunc="sum", fill_value=0)
df = df.reset_index()
df[[col for col in df.columns if col != "Code du département"]] = df[[col for col in df.columns if col != "Code du département"]].astype(int)
df.columns.name=""
df.head()

,Code du département,Inscrits,Abstentions,Votants,Blancs et nuls,A,C,D,ED,EG,G
0,01,546,325,221,28,193,0,0,0,0,0
1,01,622,411,211,23,188,0,0,0,0,0
2,01,634,415,219,15,204,0,0,0,0,0
3,01,658,228,430,9,421,0,0,0,0,0
4,01,671,322,349,25,324,0,0,0,0,0

In [23]:
df = df.groupby("Code du département").sum()
df.head()

,Inscrits,Abstentions,Votants,Blancs et nuls,A,C,D,ED,EG,G
Code du département,,,,,,,,,,
01,340791,199052,141739,6962,72082,9241,35028,701,300,17425
02,219162,131551,87611,5087,41637,6116,13997,7527,1221,12026
03,172674,94610,78064,4383,31809,1925,20395,560,1707,17285
04,89036,43758,45278,1904,16797,5605,10239,2251,1647,6835
05,72552,37949,34603,1600,16849,3034,6971,0,0,6149

In [24]:
df["ABN"] = df["Abstentions"] + df["Blancs et nuls"]
df = df.drop(["Inscrits","Abstentions","Blancs et nuls"], axis=1)
df.head()

                     Votants      A     C      D    ED    EG      G     ABN
Code du département
01                    141739  72082  9241  35028   701   300  17425  206014
02                     87611  41637  6116  13997  7527  1221  12026  136638
03                     78064  31809  1925  20395   560  1707  17285   98993
04                     45278  16797  5605  10239  2251  1647   6835   45662
05                     34603  16849  3034   6971     0     0   6149   39549

In [25]:
df.to_csv("data_clean/muni2020clean.csv")

# LEGI2017

In [26]:
df_all = pd.read_excel("data/Leg_2017_Resultats_communes_T1_c.xlsx",skiprows=3)
df_all.columns = [x.split(".")[0] if "." in x else x for x in df_all.columns]
df_all.head()

,Code du département,Libellé du département,Code de la circonscription,Libellé de la circonscription,Code de la commune,Libellé de la commune,Inscrits,Abstentions,% Abs/Ins,Votants,...,% Voix/Ins,% Voix/Exp,N°Panneau,Sexe,Nom,Prénom,Nuance,Voix,% Voix/Ins,% Voix/Exp
0,1,Ain,1,1ère circonscription,16,Arbigny,317,160,50.47,157,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Ain,1,1ère circonscription,24,Attignat,2325,1266,54.45,1059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Ain,1,1ère circonscription,29,Beaupont,429,227,52.91,202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Ain,1,1ère circonscription,38,Bény,575,290,50.43,285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Ain,1,1ère circonscription,40,Béréziat,346,196,56.65,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_all.isna().sum()[df_all.isna().sum()>0]

N°Panneau         1
Sexe              1
Nom               1
Prénom            1
Nuance            1
              ...
Prénom        35874
Nuance        35874
Voix          35874
% Voix/Ins    35874
% Voix/Exp    35874
Length: 192, dtype: int64

In [28]:
cols = df_all.columns[:28]
#print(cols)
df = df_all.iloc[:,:20].copy()
for i in range(20,df_all.shape[1],8):
    df_temp = df_all.iloc[:,:20].join(df_all.iloc[:,i:i+8]).dropna(axis=0)
    df_temp.columns = cols
    #display(df_temp.head())
    df = df.append(df_temp, ignore_index=True)
    #print(i)
    display()
    #if i > 60:
    #    break
df.tail()

,Code du département,Libellé du département,Code de la circonscription,Libellé de la circonscription,Code de la commune,Libellé de la commune,Inscrits,Abstentions,% Abs/Ins,Votants,...,% Exp/Ins,% Exp/Vot,N°Panneau,Sexe,Nom,Prénom,Nuance,Voix,% Voix/Ins,% Voix/Exp
481156,ZZ,Français établis hors de France,9,9ème circonscription,169,Praia,289,273,94.46,16,...,5.54,100.00,12.0,M,DURAND,Loïc,EXD,0.0,0.00,0.00
481157,ZZ,Français établis hors de France,9,9ème circonscription,173,Rabat,7496,5679,75.76,1817,...,23.91,98.62,12.0,M,DURAND,Loïc,EXD,3.0,0.04,0.17
481158,ZZ,Français établis hors de France,9,9ème circonscription,205,Tanger,1803,1422,78.87,381,...,20.41,96.59,12.0,M,DURAND,Loïc,EXD,1.0,0.06,0.27
481159,ZZ,Français établis hors de France,9,9ème circonscription,214,Tripoli,106,92,86.79,14,...,13.21,100.00,12.0,M,DURAND,Loïc,EXD,1.0,0.94,7.14
481160,ZZ,Français établis hors de France,9,9ème circonscription,215,Tunis,16844,14350,85.19,2494,...,14.60,98.64,12.0,M,DURAND,Loïc,EXD,15.0,0.09,0.61

In [29]:
df.columns

Index(['Code du département', 'Libellé du département',
       'Code de la circonscription', 'Libellé de la circonscription',
       'Code de la commune', 'Libellé de la commune', 'Inscrits',
       'Abstentions', '% Abs/Ins', 'Votants', '% Vot/Ins', 'Blancs',
       '% Blancs/Ins', '% Blancs/Vot', 'Nuls', '% Nuls/Ins', '% Nuls/Vot',
       'Exprimés', '% Exp/Ins', '% Exp/Vot', 'N°Panneau', 'Sexe', 'Nom',
       'Prénom', 'Nuance', 'Voix', '% Voix/Ins', '% Voix/Exp'],
      dtype='object')

In [30]:
df = df.dropna().reset_index(drop=True)
df.head()

,Code du département,Libellé du département,Code de la circonscription,Libellé de la circonscription,Code de la commune,Libellé de la commune,Inscrits,Abstentions,% Abs/Ins,Votants,...,% Exp/Ins,% Exp/Vot,N°Panneau,Sexe,Nom,Prénom,Nuance,Voix,% Voix/Ins,% Voix/Exp
0,1,Ain,1,1ère circonscription,16,Arbigny,317,160,50.47,157,...,46.06,92.99,3.0,F,LÉPAGNOT,Maude,EXG,2.0,0.63,1.37
1,1,Ain,1,1ère circonscription,24,Attignat,2325,1266,54.45,1059,...,45.08,98.96,3.0,F,LÉPAGNOT,Maude,EXG,3.0,0.13,0.29
2,1,Ain,1,1ère circonscription,29,Beaupont,429,227,52.91,202,...,45.92,97.52,3.0,F,LÉPAGNOT,Maude,EXG,0.0,0.00,0.00
3,1,Ain,1,1ère circonscription,38,Bény,575,290,50.43,285,...,48.52,97.89,3.0,F,LÉPAGNOT,Maude,EXG,2.0,0.35,0.72
4,1,Ain,1,1ère circonscription,40,Béréziat,346,196,56.65,150,...,42.77,98.67,3.0,F,LÉPAGNOT,Maude,EXG,2.0,0.58,1.35

In [31]:
df = df[["Code du département","Inscrits","Abstentions","Votants","Blancs","Nuls","Nuance","Voix"]]
df.head()

,Code du département,Inscrits,Abstentions,Votants,Blancs,Nuls,Nuance,Voix
0,1,317,160,157,10,1,EXG,2.0
1,1,2325,1266,1059,10,1,EXG,3.0
2,1,429,227,202,3,2,EXG,0.0
3,1,575,290,285,5,1,EXG,2.0
4,1,346,196,150,0,2,EXG,2.0

In [32]:
df["Blancs et nuls"] = df["Blancs"]+df["Nuls"]
df.drop(["Blancs","Nuls"],axis=1,inplace=True)

In [33]:
df["Code du département"].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       '2A', '2B', 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 'ZA', 'ZB', 'ZC', 'ZD',
       'ZM', 'ZN', 'ZP', 'ZS', 'ZW', 'ZX', 'ZZ'], dtype=object)

In [34]:
df["Code du département"] = df["Code du département"].astype(str)
df = df.replace({"ZA": "971", 
                 "ZB": "972", 
                 "ZC": "973", 
                 "ZD": "974", 
                 "ZS": "975", 
                 "ZP": "987", 
                 "ZN": "988", 
                 "ZM": "976", #"2A": 20, "2B": 20,
                 "ZW": "986",
                 "ZX": "978",
                 "ZZ": "99",
                 "1":"01",
                 "2":"02",
                 "3":"03",
                 "4":"04",
                 "5":"05",
                 "6":"06",
                 "7":"07",
                 "8":"08",
                 "9":"09"})
#df["Code du département"] = df["Code du département"].astype(int)
df["Code du département"].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '2A', '2B', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32',
       '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43',
       '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54',
       '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65',
       '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76',
       '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87',
       '88', '89', '90', '91', '92', '93', '94', '95', '971', '972',
       '973', '974', '976', '988', '987', '975', '986', '978', '99'],
      dtype=object)

In [35]:
df["Nuance"].unique()

array(['EXG', 'FI', 'DIV', 'DVG', 'COM', 'SOC', 'RDG', 'ECO', 'REG', 'LR',
       'DVD', 'MDM', 'REM', 'UDI', 'FN', 'DLF', 'EXD'], dtype=object)

In [36]:
grp_partis = {"EG": ['COM', 'EXG','FG','LO','NPA',"EG"], 
              "G":["SOC","DVG","PG", "UG","RDG","VEC", "LFI","FI","RDG","UGE","ECO","GJ","G"] , 
              "C":["MMD","CMD","MDM","UC","UDI","LREM","UCD","UCG","REM","DVC","CEN","NCE","ALLI","C"], 
              "D":["DVD","UD","UMP","LR","DSV","PRV","D"],
              "ED":["EXD","FN","RN","DLF","UXD","ED"] , 
              "A":["REG","AUT","DIV","A","NC"]}
partis = {keyi: value for (value, key) in grp_partis.items() for keyi in key}

df = df.replace(partis)
df["Nuance"].value_counts()

G     130017
A      73742
ED     72325
EG     68730
D      57930
C      42523
Name: Nuance, dtype: int64

In [37]:
#df = df.groupby(["Code du département","Inscrits","Abstentions","Votants","Blancs et nuls"]).first()
df = df.pivot_table(values="Voix",columns="Nuance",index=["Code du département","Inscrits","Abstentions","Votants","Blancs et nuls"], aggfunc="sum", fill_value=0)
df = df.reset_index()
df[[col for col in df.columns if col != "Code du département"]] = df[[col for col in df.columns if col != "Code du département"]].astype(int)
df.columns.name=""
df.head()

,Code du département,Inscrits,Abstentions,Votants,Blancs et nuls,A,C,D,ED,EG,G
0,01,36,14,22,3,2,6,3,4,0,4
1,01,42,16,26,0,1,14,5,6,0,0
2,01,48,20,28,1,0,14,4,4,0,5
3,01,56,19,37,0,1,9,11,6,0,10
4,01,66,33,33,1,1,5,5,12,0,9

In [38]:
df = df.groupby("Code du département").sum()
df.head()

,Inscrits,Abstentions,Votants,Blancs et nuls,A,C,D,ED,EG,G
Code du département,,,,,,,,,,
01,415514,213969,201545,3069,4238,73115,49077,33744,4140,34664
02,375103,197431,177672,4159,6271,43038,32789,47128,5756,38875
03,253415,123182,130233,3708,1729,37656,27113,16972,11598,31457
04,126469,59637,66832,1779,1347,27892,6651,11946,2812,14405
05,109917,51223,58694,1309,2864,24853,8314,6972,1192,13190

In [39]:
df["ABN"] = df["Abstentions"] + df["Blancs et nuls"]
df = df.drop(["Inscrits","Abstentions","Blancs et nuls"], axis=1)
df.head()

                     Votants     A      C      D     ED     EG      G     ABN
Code du département
01                    201545  4238  73115  49077  33744   4140  34664  217038
02                    177672  6271  43038  32789  47128   5756  38875  201590
03                    130233  1729  37656  27113  16972  11598  31457  126890
04                     66832  1347  27892   6651  11946   2812  14405   61416
05                     58694  2864  24853   8314   6972   1192  13190   52532

In [40]:
df.to_csv("data_clean/leg2017clean.csv")