In [1]:
import pandas as pd

## Nettoyage de EURO2019

In [2]:
df_euro_2019 = pd.read_csv("RawData/europeennes_2019.txt",sep="\n",header=None,encoding="latin1")
df_euro_2019 = df_euro_2019[0].str.split(";", expand=True)
df_euro_2019.columns = df_euro_2019.loc[0]
df_euro_2019 = df_euro_2019.drop(0,axis=0)
df_euro_2019.head()

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01,Ain,001,L'Abergement-Clémenciat,601,268,"44,59",333,"55,41",1,...,0,"0,00","0,00",34,EUROPE AU SERVICE PEUPLES,UNE EUROPE AU SERVICE DES PEUPLES,AZERGUI Nagib,0,"0,00","0,00"
2,01,Ain,002,L'Abergement-de-Varey,210,69,"32,86",141,"67,14",4,...,0,"0,00","0,00",34,EUROPE AU SERVICE PEUPLES,UNE EUROPE AU SERVICE DES PEUPLES,AZERGUI Nagib,0,"0,00","0,00"
3,01,Ain,004,Ambérieu-en-Bugey,8110,3975,"49,01",4135,"50,99",97,...,0,"0,00","0,00",34,EUROPE AU SERVICE PEUPLES,UNE EUROPE AU SERVICE DES PEUPLES,AZERGUI Nagib,48,"0,59","1,21"
4,01,Ain,005,Ambérieux-en-Dombes,1188,596,"50,17",592,"49,83",16,...,0,"0,00","0,00",34,EUROPE AU SERVICE PEUPLES,UNE EUROPE AU SERVICE DES PEUPLES,AZERGUI Nagib,0,"0,00","0,00"
5,01,Ain,006,Ambléon,100,34,"34,00",66,"66,00",1,...,0,"0,00","0,00",34,EUROPE AU SERVICE PEUPLES,UNE EUROPE AU SERVICE DES PEUPLES,AZERGUI Nagib,0,"0,00","0,00"

In [3]:
l = df_euro_2019.columns.to_list()[:25] + df_euro_2019.columns.to_list()[18:25] * 33
df_euro_2019.columns = l

df_euro_2019 = df_euro_2019.drop(columns=['Libellé du département', 
                                          'Code de la commune', 'Libellé de la commune', 
                                          'Inscrits', '% Abs/Ins', '% Vot/Ins', '% Blancs/Ins', '% Blancs/Vot', '% Nuls/Ins', '% Nuls/Vot', 
                                          'Exprimés', '% Exp/Ins','% Exp/Vot',
                                          'N°Liste', 'Libellé Etendu Liste', 'Nom Tête de Liste', 
                                          '% Voix/Ins', '% Voix/Exp'])
df_euro_2019 = df_euro_2019.dropna(axis='columns',how='all')

In [4]:
#On additionne les votes nuls, blancs, et les abstentions
df_euro_2019["ABN"]=df_euro_2019['Abstentions'].astype(int)+df_euro_2019["Blancs"].astype(int)+df_euro_2019["Nuls"].astype(int)
df_euro_2019 = df_euro_2019.drop(columns=["Abstentions","Blancs","Nuls"])

In [5]:
df_euro_2019["Code du département"] = df_euro_2019["Code du département"].astype(str)
df_euro_2019 = df_euro_2019.replace({"2A": 20, "2B": 20,
                                     "ZA": 971, "ZB": 972, "ZC": 973, "ZD": 974, "ZM": 976, "ZN": 988, "ZP": 987, "ZS": 975, 
                                     "ZW": 986, "ZX": 977, "ZZ": 99  })
df_euro_2019["Code du département"] = df_euro_2019["Code du département"].astype(int)
df_euro_2019["Code du département"].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95, 971, 972, 973, 974, 976, 988, 987, 975, 986,
       977,  99])

In [6]:
df_euro_2019.head()

,Code du département,Votants,Libellé Abrégé Liste,Voix,Libellé Abrégé Liste,Voix,Libellé Abrégé Liste,Voix,Libellé Abrégé Liste,Voix,...,Voix,Libellé Abrégé Liste,Voix,Libellé Abrégé Liste,Voix,Libellé Abrégé Liste,Voix,Libellé Abrégé Liste,Voix,ABN
1,1,333,LA FRANCE INSOUMISE,13,UNE FRANCE ROYALE,0,LA LIGNE CLAIRE,0,PARTI PIRATE,0,...,52,PARTI ANIMALISTE,7,LES OUBLIES DE L'EUROPE,4,UDLEF,0,EUROPE AU SERVICE PEUPLES,0,287
2,1,141,LA FRANCE INSOUMISE,6,UNE FRANCE ROYALE,0,LA LIGNE CLAIRE,0,PARTI PIRATE,0,...,36,PARTI ANIMALISTE,5,LES OUBLIES DE L'EUROPE,1,UDLEF,0,EUROPE AU SERVICE PEUPLES,0,75
3,1,4135,LA FRANCE INSOUMISE,307,UNE FRANCE ROYALE,0,LA LIGNE CLAIRE,0,PARTI PIRATE,0,...,471,PARTI ANIMALISTE,78,LES OUBLIES DE L'EUROPE,8,UDLEF,0,EUROPE AU SERVICE PEUPLES,48,4155
4,1,592,LA FRANCE INSOUMISE,24,UNE FRANCE ROYALE,0,LA LIGNE CLAIRE,0,PARTI PIRATE,0,...,68,PARTI ANIMALISTE,6,LES OUBLIES DE L'EUROPE,1,UDLEF,0,EUROPE AU SERVICE PEUPLES,0,624
5,1,66,LA FRANCE INSOUMISE,2,UNE FRANCE ROYALE,0,LA LIGNE CLAIRE,0,PARTI PIRATE,0,...,7,PARTI ANIMALISTE,0,LES OUBLIES DE L'EUROPE,1,UDLEF,0,EUROPE AU SERVICE PEUPLES,0,35

In [7]:
# valeur unique dans les colonnes "Libellé Abrégé Liste" ?
for i in range(2,70,2):
    if df_euro_2019.iloc[:,i].nunique() != 1:
        print("value not unique")

In [8]:
grp_partis = {"EG":["DÉMOCRATIE REPRÉSENTATIVE", "DÉCROISSANCE 2019", "LUTTE OUVRIÈRE", "POUR L'EUROPE DES GENS", "RÉVOLUTIONNAIRE"], 
              "G":["LA FRANCE INSOUMISE", "URGENCE ÉCOLOGIE", "ENVIE D'EUROPE", "LISTE CITOYENNE", "ESPERANTO", "EUROPE ÉCOLOGIE"] , 
              "C":["RENAISSANCE", "LES EUROPÉENS"], 
              "D":["DEBOUT LA FRANCE", "ENSEMBLE POUR LE FREXIT", "UNION DROITE-CENTRE", "UDLEF"],
              "ED":["UNE FRANCE ROYALE", "LA LIGNE CLAIRE", "ENSEMBLE PATRIOTES", "LISTE DE LA RECONQUÊTE", "PRENEZ LE POUVOIR"] , 
              "A":["PARTI PIRATE", "PACE", "PARTI FED. EUROPÉEN", "INITIATIVE CITOYENNE", "ALLONS ENFANTS", "À VOIX ÉGALES", 
                   "NEUTRE ET ACTIF", "ÉVOLUTION CITOYENNE", "ALLIANCE JAUNE", "PARTI ANIMALISTE", "LES OUBLIES DE L'EUROPE",  
                   "EUROPE AU SERVICE PEUPLES"]}
partis = {keyi: value for (value, key) in grp_partis.items() for keyi in key}

In [9]:
df_euro_2019 = df_euro_2019.replace(partis)

In [10]:
EG = []
G = []
C = []
D = []
ED = []
A = []
for i in range(2,70,2):
    if df_euro_2019.iloc[0,i] == "EG":
        EG.append(i+1)
    elif df_euro_2019.iloc[0,i] == "G":
        G.append(i+1)
    elif df_euro_2019.iloc[0,i] == "C":
        C.append(i+1)
    elif df_euro_2019.iloc[0,i] == "D":
        D.append(i+1)
    elif df_euro_2019.iloc[0,i] == "ED":
        ED.append(i+1)
    elif df_euro_2019.iloc[0,i] == "A":
        A.append(i+1)

In [11]:
df_euro_2019["EG"]=df_euro_2019.iloc[:,EG].astype(int).sum(axis=1)
df_euro_2019["G"]=df_euro_2019.iloc[:,G].astype(int).sum(axis=1)
df_euro_2019["C"]=df_euro_2019.iloc[:,C].astype(int).sum(axis=1)
df_euro_2019["D"]=df_euro_2019.iloc[:,D].astype(int).sum(axis=1)
df_euro_2019["ED"]=df_euro_2019.iloc[:,ED].astype(int).sum(axis=1)
df_euro_2019["A"]=df_euro_2019.iloc[:,A].astype(int).sum(axis=1)

In [12]:
df_euro_2019["Votants"]=df_euro_2019["Votants"].astype(int)

In [13]:
df_euro_2019 = df_euro_2019[["Code du département","Votants","ABN","EG","G","C","D","ED","A"]]

In [14]:
df_euro_2019 = df_euro_2019.groupby("Code du département").sum()

In [15]:
df_euro_2019

                     Votants     ABN    EG      G      C      D     ED     A
Code du département
1                     207936  218656  4471  56446  50095  31976  49997  6140
2                     195472  185939  5679  40500  33097  23698  75996  6814
3                     135089  122424  7468  33156  28414  19476  33104  4347
4                      69630   59924  2626  20667  14352   7820  18544  2306
5                      60287   52196  1899  19419  13322   7411  13671  1779
...                      ...     ...   ...    ...    ...    ...    ...   ...
976                    22514   57530   335   3804   2182   4651  10009    90
977                     3414   20195    57    857    716    584    892    26
986                     3034    5783   123    496   1269    694    397     0
987                    43364  159265  1103   6713  16345   5044   6972   156
988                    40323  170861   833  11190   7891   7689  11159   209

[106 rows x 8 columns]

In [16]:
df_euro_2019.to_csv("data_clean/euro2019_clean.csv")

## Nettoyage de EURO2014

In [17]:
#df_euro_2014 = pd.read_excel("RawData/europeennes_2014.xlsx", header=0)
#df_euro_2014.to_csv("RawData/europeennes_2014.csv")

In [18]:
df_euro_2014 = pd.read_csv("RawData/europeennes_2014.csv")

C:\Users\Jia\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,197,198,199,204,205,206,211,212,213,218,219,220,225,226,227,232,233,234) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [19]:
df_euro_2014.columns.to_list()

['Unnamed: 0',
 "Date de l'export",
 'Code du département',
 'Type de scrutin',
 'Libellé du département',
 'Code de la commune',
 'Libellé de la commune',
 'Inscrits',
 'Abstentions',
 '% Abs/Ins',
 'Votants',
 '% Vot/Ins',
 'Blancs',
 '% BlBlancs/Ins',
 '% BlBlancs/Vot',
 'Nuls',
 '% BlNuls/Ins',
 '% BlNuls/Vot',
 'Exprimés',
 '% Exp/Ins',
 '% Exp/Vot',
 'N°Liste',
 'Nuance Liste',
 'Libellé Abrégé Liste',
 'Nom Tête de Liste',
 'Voix',
 '% Voix/Ins',
 '% Voix/Exp',
 'N°Liste.1',
 'Nuance Liste.1',
 'Libellé Abrégé Liste.1',
 'Nom Tête de Liste.1',
 'Voix.1',
 '% Voix/Ins.1',
 '% Voix/Exp.1',
 'N°Liste.2',
 'Nuance Liste.2',
 'Libellé Abrégé Liste.2',
 'Nom Tête de Liste.2',
 'Voix.2',
 '% Voix/Ins.2',
 '% Voix/Exp.2',
 'N°Liste.3',
 'Nuance Liste.3',
 'Libellé Abrégé Liste.3',
 'Nom Tête de Liste.3',
 'Voix.3',
 '% Voix/Ins.3',
 '% Voix/Exp.3',
 'N°Liste.4',
 'Nuance Liste.4',
 'Libellé Abrégé Liste.4',
 'Nom Tête de Liste.4',
 'Voix.4',
 '% Voix/Ins.4',
 '% Voix/Exp.4',
 'N°Liste.5',
 'Nuance Liste.5',
 'Libellé Abrégé Liste.5',
 'Nom Tête de Liste.5',
 'Voix.5',
 '% Voix/Ins.5',
 '% Voix/Exp.5',
 'N°Liste.6',
 'Nuance Liste.6',
 'Libellé Abrégé Liste.6',
 'Nom Tête de Liste.6',
 'Voix.6',
 '% Voix/Ins.6',
 '% Voix/Exp.6',
 'N°Liste.7',
 'Nuance Liste.7',
 'Libellé Abrégé Liste.7',
 'Nom Tête de Liste.7',
 'Voix.7',
 '% Voix/Ins.7',
 '% Voix/Exp.7',
 'N°Liste.8',
 'Nuance Liste.8',
 'Libellé Abrégé Liste.8',
 'Nom Tête de Liste.8',
 'Voix.8',
 '% Voix/Ins.8',
 '% Voix/Exp.8',
 'N°Liste.9',
 'Nuance Liste.9',
 'Libellé Abrégé Liste.9',
 'Nom Tête de Liste.9',
 'Voix.9',
 '% Voix/Ins.9',
 '% Voix/Exp.9',
 'N°Liste.10',
 'Nuance Liste.10',
 'Libellé Abrégé Liste.10',
 'Nom Tête de Liste.10',
 'Voix.10',
 '% Voix/Ins.10',
 '% Voix/Exp.10',
 'N°Liste.11',
 'Nuance Liste.11',
 'Libellé Abrégé Liste.11',
 'Nom Tête de Liste.11',
 'Voix.11',
 '% Voix/Ins.11',
 '% Voix/Exp.11',
 'N°Liste.12',
 'Nuance Liste.12',
 'Libellé Abrégé Liste.12',
 'Nom Tête de Liste.12',
 'Voix.12',
 '% Voix/Ins.12',
 '% Voix/Exp.12',
 'N°Liste.13',
 'Nuance Liste.13',
 'Libellé Abrégé Liste.13',
 'Nom Tête de Liste.13',
 'Voix.13',
 '% Voix/Ins.13',
 '% Voix/Exp.13',
 'N°Liste.14',
 'Nuance Liste.14',
 'Libellé Abrégé Liste.14',
 'Nom Tête de Liste.14',
 'Voix.14',
 '% Voix/Ins.14',
 '% Voix/Exp.14',
 'N°Liste.15',
 'Nuance Liste.15',
 'Libellé Abrégé Liste.15',
 'Nom Tête de Liste.15',
 'Voix.15',
 '% Voix/Ins.15',
 '% Voix/Exp.15',
 'N°Liste.16',
 'Nuance Liste.16',
 'Libellé Abrégé Liste.16',
 'Nom Tête de Liste.16',
 'Voix.16',
 '% Voix/Ins.16',
 '% Voix/Exp.16',
 'N°Liste.17',
 'Nuance Liste.17',
 'Libellé Abrégé Liste.17',
 'Nom Tête de Liste.17',
 'Voix.17',
 '% Voix/Ins.17',
 '% Voix/Exp.17',
 'N°Liste.18',
 'Nuance Liste.18',
 'Libellé Abrégé Liste.18',
 'Nom Tête de Liste.18',
 'Voix.18',
 '% Voix/Ins.18',
 '% Voix/Exp.18',
 'N°Liste.19',
 'Nuance Liste.19',
 'Libellé Abrégé Liste.19',
 'Nom Tête de Liste.19',
 'Voix.19',
 '% Voix/Ins.19',
 '% Voix/Exp.19',
 'N°Liste.20',
 'Nuance Liste.20',
 'Libellé Abrégé Liste.20',
 'Nom Tête de Liste.20',
 'Voix.20',
 '% Voix/Ins.20',
 '% Voix/Exp.20',
 'N°Liste.21',
 'Nuance Liste.21',
 'Libellé Abrégé Liste.21',
 'Nom Tête de Liste.21',
 'Voix.21',
 '% Voix/Ins.21',
 '% Voix/Exp.21',
 'N°Liste.22',
 'Nuance Liste.22',
 'Libellé Abrégé Liste.22',
 'Nom Tête de Liste.22',
 'Voix.22',
 '% Voix/Ins.22',
 '% Voix/Exp.22',
 'N°Liste.23',
 'Nuance Liste.23',
 'Libellé Abrégé Liste.23',
 'Nom Tête de Liste.23',
 'Voix.23',
 '% Voix/Ins.23',
 '% Voix/Exp.23',
 'N°Liste.24',
 'Nuance Liste.24',
 'Libellé Abrégé Liste.24',
 'Nom Tête de Liste.24',
 'Voix.24',
 '% Voix/Ins.24',
 '% Voix/Exp.24',
 'N°Liste.25',
 'Nuance Liste.25',
 'Libellé Abrégé Liste.25',
 'Nom Tête de Liste.25',
 'Voix.25',
 '% Voix/Ins.25',
 '% Voix/Exp.25',
 'N°Liste.26',
 'Nuance Liste.26',
 'Libellé Abrégé Liste.26',
 'Nom Tête de Liste.26',
 'Voix.26',
 '% Voix/Ins.26',
 '% Voix/Exp.26',
 'N°Liste.27',
 'Nuance Liste.27',
 'Libellé Abrégé Liste.27',
 'Nom Tête de Liste.27',
 'Voix.27',
 '% Voix/Ins.27',
 '% Voix/Exp.27',
 'N°Liste.28',
 'Nuance Liste.28',
 'Libellé Abrégé Liste.28',
 'Nom Tête de Liste.28',
 'Voix.28',
 '% Voix/Ins.28',
 '% Voix/Exp.28',
 'N°Liste.29',
 'Nuance Liste.29',
 'Libellé Abrégé Liste.29',
 'Nom Tête de Liste.29',
 'Voix.29',
 '% Voix/Ins.29',
 '% Voix/Exp.29',
 'N°Liste.30',
 'Nuance Liste.30',
 'Libellé Abrégé Liste.30',
 'Nom Tête de Liste.30',
 'Voix.30',
 '% Voix/Ins.30',
 '% Voix/Exp.30']

In [20]:
df_euro_2014.columns = df_euro_2014.columns[:28].to_list() + df_euro_2014.columns[21:28].to_list()*30

In [21]:
df_euro_2014 = df_euro_2014.drop(columns=['Unnamed: 0',"Date de l'export",
                                          'Type de scrutin','Libellé du département', 
                                          'Code de la commune', 'Libellé de la commune', 
                                          'Inscrits', '% Abs/Ins', '% Vot/Ins', '% BlBlancs/Ins', '% BlBlancs/Vot', '% BlNuls/Ins', '% BlNuls/Vot', 
                                          'Exprimés', '% Exp/Ins','% Exp/Vot',
                                          'N°Liste', '% Voix/Ins', '% Voix/Exp', 'Libellé Abrégé Liste', 'Nom Tête de Liste'])
df_euro_2014 = df_euro_2014.dropna(axis='columns',how='all')

In [22]:
df_euro_2014

,Code du département,Abstentions,Votants,Blancs,Nuls,Nuance Liste,Voix,Nuance Liste,Voix,Nuance Liste,...,Nuance Liste,Voix,Nuance Liste,Voix,Nuance Liste,Voix,Nuance Liste,Voix,Nuance Liste,Voix
0,1,312,281,17,2,LEXG,0,LEXG,3,LFG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,99,127,2,1,LEXG,0,LEXG,1,LFG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,4825,3328,76,30,LEXG,30,LEXG,0,LFG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,669,489,20,2,LEXG,0,LEXG,12,LFG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,55,53,1,0,LEXG,0,LEXG,0,LFG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36758,ZS,3701,748,48,19,LEXG,33,LUG,210,LDVG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36759,ZW,4774,4559,33,30,LEXG,53,LUG,1282,LDVG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36760,ZX,4147,727,22,4,LEXG,3,LUG,28,LDVG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36761,ZX,16429,1960,158,107,LEXG,82,LUG,257,LDVG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36762,ZZ,946166,117441,1263,1151,LEXG,12,LEXG,1099,LEXG,...,LDVD,3685.0,LDVD,9.0,LDVD,3340.0,LDVD,2873.0,LFN,10288.0

In [23]:
cols = df_euro_2014.columns[:7]
df = df_euro_2014.iloc[:,:5].copy()
for i in range(5,df_euro_2014.shape[1],2):
    df_temp = df_euro_2014.iloc[:,:5].join(df_euro_2014.iloc[:,i:i+2]).dropna(axis=0)
    df_temp.columns = cols
    df = df.append(df_temp, ignore_index=True)
    display()

df_euro_2014=df
df_euro_2014

,Code du département,Abstentions,Votants,Blancs,Nuls,Nuance Liste,Voix
0,1,312,281,17,2,NaN,NaN
1,1,99,127,2,1,NaN,NaN
2,1,4825,3328,76,30,NaN,NaN
3,1,669,489,20,2,NaN,NaN
4,1,55,53,1,0,NaN,NaN
...,...,...,...,...,...,...,...
914605,95,285,319,5,2,LFN,82.0
914606,95,10572,2991,90,60,LFN,753.0
914607,95,26,74,1,0,LFN,14.0
914608,95,110,179,3,2,LFN,39.0
914609,ZZ,946166,117441,1263,1151,LFN,10288.0

In [24]:
df_euro_2014 = df_euro_2014.dropna().reset_index(drop=True)
df_euro_2014.head()

  Code du département  Abstentions  Votants  Blancs  Nuls Nuance Liste  Voix
0                   1          312      281      17     2         LEXG   0.0
1                   1           99      127       2     1         LEXG   0.0
2                   1         4825     3328      76    30         LEXG  30.0
3                   1          669      489      20     2         LEXG   0.0
4                   1           55       53       1     0         LEXG   0.0

In [25]:
#On additionne les votes nuls, blancs, et les abstentions
df_euro_2014["ABN"]=df_euro_2014['Abstentions']+df_euro_2014["Blancs"]+df_euro_2014["Nuls"]
df_euro_2014 = df_euro_2014.drop(columns=["Abstentions","Blancs","Nuls"])

In [26]:
df_euro_2014["Code du département"] = df_euro_2014["Code du département"].astype(str)
df_euro_2014 = df_euro_2014.replace({"2A": 20, "2B": 20,
                                     "ZA": 971, "ZB": 972, "ZC": 973, "ZD": 974, "ZM": 976, "ZN": 988, "ZP": 987, "ZS": 975, 
                                     "ZW": 986, "ZX": 977, "ZZ": 99  })
df_euro_2014["Code du département"] = df_euro_2014["Code du département"].astype(int)
df_euro_2014["Code du département"].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95, 971, 972, 973, 974, 976, 988, 987, 975, 986,
       977,  99])

In [27]:
df_euro_2014

        Code du département  Votants Nuance Liste     Voix     ABN
0                         1      281         LEXG      0.0     331
1                         1      127         LEXG      0.0     102
2                         1     3328         LEXG     30.0    4931
3                         1      489         LEXG      0.0     691
4                         1       53         LEXG      0.0      56
...                     ...      ...          ...      ...     ...
877842                   95      319          LFN     82.0     292
877843                   95     2991          LFN    753.0   10722
877844                   95       74          LFN     14.0      27
877845                   95      179          LFN     39.0     115
877846                   99   117441          LFN  10288.0  948580

[877847 rows x 5 columns]

In [28]:
grp_partis = {"EG":["LEXG", "LFG"], 
              "G":["LUG", "LDVG", "LVEC"] , 
              "C":["LUC"], 
              "D":["LUMP", "LDVD"],
              "ED":["LFN", "LEXD"] , 
              "A":["LDIV"]}
partis = {keyi: value for (value, key) in grp_partis.items() for keyi in key}

In [29]:
df_euro_2014 = df_euro_2014.replace(partis)

In [30]:
df_euro_2014

        Code du département  Votants Nuance Liste     Voix     ABN
0                         1      281           EG      0.0     331
1                         1      127           EG      0.0     102
2                         1     3328           EG     30.0    4931
3                         1      489           EG      0.0     691
4                         1       53           EG      0.0      56
...                     ...      ...          ...      ...     ...
877842                   95      319           ED     82.0     292
877843                   95     2991           ED    753.0   10722
877844                   95       74           ED     14.0      27
877845                   95      179           ED     39.0     115
877846                   99   117441           ED  10288.0  948580

[877847 rows x 5 columns]

In [31]:
df_euro_2014 = df_euro_2014.pivot_table(values="Voix",columns="Nuance Liste",index=["Code du département","Votants","ABN"], aggfunc="sum", fill_value=0)
df_euro_2014 = df_euro_2014.reset_index()
df_euro_2014 = df_euro_2014.astype(int)
df_euro_2014.columns.name=""
df_euro_2014

       Code du département  Votants    ABN    A     C     D    ED   EG     G
0                        1       22     15    2     2     2     4    3     7
1                        1       23     22    3     3     6     4    0     7
2                        1       25     24    1     3     7     7    2     2
3                        1       30     22    1     2     9     9    0     7
4                        1       31     42    5     1     8    15    1     0
...                    ...      ...    ...  ...   ...   ...   ...  ...   ...
36423                  988     2353   7880   46   259   190    35   30  1766
36424                  988     3028   7858   57   645  1468   402   46   323
36425                  988     4682  13200   76   847  2464   587   59   505
36426                  988     4752  10817   66   788  2549   637   47   506
36427                  988    18676  39025  545  3371  9522  2876  133  1673

[36428 rows x 9 columns]

In [32]:
df_euro_2014 = df_euro_2014.groupby("Code du département").sum()

In [33]:
df_euro_2014

                     Votants     ABN     A      C      D     ED     EG      G
Code du département
1                     169321  240152  5586  15315  48315  46510   8791  38503
2                     162472  216741  1791  10617  41156  62949  12420  28361
3                     117695  144002  3566   9158  31858  27306  13013  26412
4                      60607   68382  2169   3817  14722  16098   5738  15359
5                      50951   59810  1819   4674  12432  11674   3953  14008
...                      ...     ...   ...    ...    ...    ...    ...    ...
976                    24086   48910  1386    956   8255   1257    184  11228
977                     2687   20867   284    146    945    509     85    427
986                     4559    4837   111    308   1574     91     53   2359
987                    28689  169605  1210   1443   6796   2144    359  15817
988                    47462  129489  1118   7405  19970   5338    586  11582

[106 rows x 8 columns]

In [34]:
df_euro_2014.to_csv("data_clean/euro2014_clean.csv")

## Nettoyage de PDT2012

In [35]:
df_pdt_2012 = pd.read_excel("RawData/presidentielles_2012.xls", header=0)

In [36]:
df_pdt_2012 = df_pdt_2012[["Code du département","Inscrits","Abstentions","Votants","Blancs et nuls",
                           "Nom","Voix","Nom.1","Voix.1","Nom.2","Voix.2","Nom.3","Voix.3","Nom.4","Voix.4",
                           "Nom.5","Voix.5","Nom.6","Voix.6","Nom.7","Voix.7","Nom.8","Voix.8","Nom.9","Voix.9"]]

In [37]:
#On additionne les votes nuls, blancs, et les abstentions
df_pdt_2012["ABN"]=df_pdt_2012['Abstentions']+df_pdt_2012["Blancs et nuls"]
df_pdt_2012 = df_pdt_2012.drop(columns=["Abstentions","Blancs et nuls"])

In [38]:
df_pdt_2012["Code du département"] = df_pdt_2012["Code du département"].astype(str)
df_pdt_2012 = df_pdt_2012.replace({"2A": 20, "2B": 20,
                                   "ZA": 971, "ZB": 972, "ZC": 973, "ZD": 974, "ZM": 976, "ZN": 988, "ZP": 987, "ZS": 975, 
                                   "ZW": 986, "ZX": 977, "ZZ": 99  })
df_pdt_2012["Code du département"] = df_pdt_2012["Code du département"].astype(int)
df_pdt_2012["Code du département"].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95, 971, 972, 973, 974, 976, 988, 987, 975, 986,
       977,  99])

In [39]:
df_pdt_2012

,Code du département,Inscrits,Votants,Nom,Voix,Nom.1,Voix.1,Nom.2,Voix.2,Nom.3,...,Voix.5,Nom.6,Voix.6,Nom.7,Voix.7,Nom.8,Voix.8,Nom.9,Voix.9,ABN
0,1,592,508,JOLY,13,LE PEN,126,SARKOZY,159,MÉLENCHON,...,2,CHEMINADE,2,BAYROU,54,DUPONT-AIGNAN,4,HOLLANDE,112,93
1,1,215,179,JOLY,10,LE PEN,38,SARKOZY,45,MÉLENCHON,...,0,CHEMINADE,1,BAYROU,22,DUPONT-AIGNAN,2,HOLLANDE,39,41
2,1,8205,6507,JOLY,124,LE PEN,1359,SARKOZY,1603,MÉLENCHON,...,41,CHEMINADE,21,BAYROU,543,DUPONT-AIGNAN,138,HOLLANDE,1691,1824
3,1,1152,982,JOLY,16,LE PEN,238,SARKOZY,323,MÉLENCHON,...,6,CHEMINADE,0,BAYROU,97,DUPONT-AIGNAN,26,HOLLANDE,195,188
4,1,105,88,JOLY,3,LE PEN,25,SARKOZY,19,MÉLENCHON,...,1,CHEMINADE,0,BAYROU,8,DUPONT-AIGNAN,0,HOLLANDE,21,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36786,99,89643,34662,JOLY,3473,LE PEN,1446,SARKOZY,10363,MÉLENCHON,...,97,CHEMINADE,138,BAYROU,4911,DUPONT-AIGNAN,431,HOLLANDE,10645,55299
36787,99,109763,25297,JOLY,1011,LE PEN,1321,SARKOZY,12256,MÉLENCHON,...,112,CHEMINADE,92,BAYROU,1722,DUPONT-AIGNAN,315,HOLLANDE,6047,84758
36788,99,98997,39110,JOLY,1010,LE PEN,1395,SARKOZY,12307,MÉLENCHON,...,78,CHEMINADE,87,BAYROU,2615,DUPONT-AIGNAN,269,HOLLANDE,16441,60208
36789,99,89859,43077,JOLY,1320,LE PEN,3254,SARKOZY,17882,MÉLENCHON,...,101,CHEMINADE,147,BAYROU,3779,DUPONT-AIGNAN,441,HOLLANDE,12897,47348
36790,99,80061,37150,JOLY,2078,LE PEN,2194,SARKOZY,15252,MÉLENCHON,...,106,CHEMINADE,115,BAYROU,4695,DUPONT-AIGNAN,431,HOLLANDE,9274,43399

In [40]:
# valeur unique dans les colonnes Nom.x ?
for i in range(3,23,2):
    if df_pdt_2012.iloc[:,i].nunique() != 1:
        print("value not unique")

In [41]:
# EG : MÉLENCHON, POUTOU, ARTHAUD
df_pdt_2012["EG"] = df_pdt_2012.iloc[:,10] + df_pdt_2012.iloc[:,12] + df_pdt_2012.iloc[:,14]

In [42]:
# G : JOLY, HOLLANDE
df_pdt_2012["G"] = df_pdt_2012.iloc[:,4] + df_pdt_2012.iloc[:,22]

In [43]:
# C : BAYROU
df_pdt_2012["C"] = df_pdt_2012.iloc[:,18]

In [44]:
# D : SARKOZY, DUPONT-AIGNAN
df_pdt_2012["D"] = df_pdt_2012.iloc[:,8] + df_pdt_2012.iloc[:,20]

In [45]:
# ED : LE PEN
df_pdt_2012["ED"] = df_pdt_2012.iloc[:,6]

In [46]:
# A : CHEMINADE
df_pdt_2012["A"] = df_pdt_2012.iloc[:,16]

In [47]:
df_pdt_2012 = df_pdt_2012[["Code du département","Votants","ABN","EG","G","C","D","ED","A"]]

In [48]:
df_pdt_2012 = df_pdt_2012.groupby("Code du département").sum()

In [49]:
df_pdt_2012

                     Votants    ABN     EG      G      C       D     ED    A
Code du département
1                     327812  72449  36015  80364  32650  104930  66540  860
2                     303140  78124  36710  84206  19895   77943  78452  738
3                     211009  50325  32035  64363  17814   53545  37736  457
4                     102899  23145  17150  27484   7483   27513  20875  283
5                      88619  20088  13815  24395   8559   24437  15359  212
...                      ...    ...    ...    ...    ...     ...    ...  ...
976                    37682  41430   1435  13941   1505   17931    996  175
977                     8277  14652    602   2359    473    3596    975   28
986                     6446   2533    166   3193    410    2457    152   29
987                    92100  96823   3534  32522   5139   43095   5151  378
988                    91628  76208   4286  24571   4579   45135  10409  279

[106 rows x 8 columns]

In [50]:
df_pdt_2012.to_csv("data_clean/pdt2012_clean.csv")